doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="сервер Minecraft версии 1.7.4 для игроков старше 18 лет. Нет вайпов, нет гриферов, концепция игры - ванильное выживание без модов. Креативщики строят в сторонке и к выживальщикам не лезут.")
    meta(name="author",content="kodji")
    link(rel="shortcut icon",href="favicon.ico")
    title Shambala - русскоязычный сервер Minecraft 1.7.4 для взрослых игроков
    link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/style.css",rel="stylesheet")
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  body(role="document")
    .navbar.navbar-inverse.navbar-static(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
            span.sr-only Меню
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") 
            img.logo(src="/img/logo160.png",width="32",height="32")
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a О проекте
            li
              a(href="faithful32pack.zip") Рекомендуемый текстурпак
            li
              a(href="http://kodji.name") Контакт администратора
    .container-fluid(role="main")
      .row
        .col-sm-3
          h4 Сервер Minecraft Shambala
          p
            | Сервер работает в режиме 24/7, пускает и официальные и неофициальные клиенты. 
            | Версия сервера 1.7.4. Вход на сервер по адресу kodji.ru:25555. 
          p
            | Чтобы строить на сервере, 
            a(href="http://kodji.name") обратитесь к администратору
            | , а лучше 
          p
            a.btn.btn-large.btn-success(href="https://vk.com/minecraftshambala") оставьте заявку в паблике VK
          p По умолчанию можно только смотреть.
        .col-sm-9
          iframe#server_map(src="http://kodji.ru:8166",width="100%",height="500")
      .row#footer
        .col-sm-12
          include templates/counters.jade
          p.pull-right 
            img(src="/img/logo16.png",width="16",height="16") 
            | &nbsp;Copyright <a href="http://kodji.name">kodji</a> 2010-2014
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")