doctype 5
html(lang="ru")
	head
		meta(charset="utf-8")
		title Shambala
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet",href="libs/bootstrap/css/bootstrap.css",media="screen")
		link(rel="stylesheet",href="css/style.css",media="screen")

	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="/")
						| &nbsp;Shambala
					ul.nav
						li
							a(href="https://dl.dropbox.com/u/150096/minecraft.jar.zip") Пропатченный клиент с Forge
						li
							a(href="https://dl.dropbox.com/u/150096/mods.zip") Архив модов для игры на сервере
						li
							a(href="skype:?chat&blob=CIY6Ru_oWePFanLqofoD3fbkbfvONkuqK--Ab0vo0mPYu248pgkPTodnKQBT3MPW8UraNk_NHtz0oviieh5Uv7kWbUpvV90DworAIUs8tu5033J8cxT8UMDLhybRHgy79IItOzbWg6-uc3YdYxf8VisVTQJCPro") Skype-чат
						li
							a(href="http://kodji.name") Контакты администратора
		.container-fluid
			.row-fluid#app
				h3 Сейчас шамбала работает в онлайн режиме (пускает только купивших игру). Версия сервера 1.4.6, установлен мод RedPower2
				iframe(src="http://77.72.131.101:8166",width="100%",height="600")
			.row-fluid#footer
				.span8
					p &copy; Copyright <a href="http://kodji.name">kodji</a> 2010-2013
				.span4(style="text-align:right;")
					img(src="img/sh-logo.png",width="64",height="64")