doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/commands.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/about.html')
        .col-sm-9
          h3 Что это?
          p Это сервер  Minecraft «Shambala». Предназначен для взрослых игроков, которые любят и умеют строить. 
          h3 Аудитория
          p Мы не приглашаем людей младше 18 лет, за редкими исключениями (когда игрок явно показывает в беседе, что владеет русским языком на хорошем уровне, адекватен и не лишен фантазии)
          h3 Время работы сервера
          p Сервер работает в режиме 24/7 Если вдруг что-то не работает и в скайпочате или на сайте нет об этом уведомления - значит это плохо. Скажите нам об этом скорее, чтобы мы могли починить.
          h3 Версия сервера
          p Сейчас установлена версия 1.7.9. Мы стараемся всегда обновлять сервер до последней существующей на данный момент версии. Если это возможно, конечно.
          h3 Адрес входа на сервер
          p kodji.ru:25555
          h3 Дисклеймер
          p Мы не берем донатов, не просим денег ни за что. Стараемся, чтобы вы чувствовали себя комфортно, чтобы сервер не глючил, не показываем вам рекламу. За это мы просим вас только одного - не будьте мудаками, помогайте друг-другу, творите и делайте добро. Также просим вас помнить, что это частный сервер, правила на нем устанавливаются частным лицом. Никаких гарантий работоспособности мы не даем, никакой персональной информации не собираем и не храним. Спасибо за понимание и приятной игры!
      include ../templates/footer.jade
    include ../templates/scripts.jade