include ../config/config.jade
doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/commands.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/about.html')
        .col-sm-9
          h3 Что это?
          p Это сервер  Minecraft «Shambala». Предназначен для взрослых игроков, которые любят и умеют строить. 
          h3 Концепция игры
          p В следующем абзаце мы напишем несколько слабо связанных предложений, которые должны дать общее представление об атмосфере игры на сервере. 
          p Итак, кратко - играй в свое удовольствие и не мешай играть другим. Кооперация, фантазия, юмор, грамотная русская речь приветствуются. PVP разрешено только по согласию всех участвующих в нем. Ванильное выживание без модов - в этом режиме на наш взгляд играть интереснее всего. Плагины если и ставим, то такие, чтобы не приходилось модифицировать клиента и игра не слишком упрощалась. Само собой гриферов выгоняем даже если они каким-то чудом прошли фейс-контроль. Вайпов основного мира не бывает. При обновлении генератора мира производится частичный вайп поверхности, не затрагивающий существующие постройки. 
          h3 Аудитория
          p Мы не приглашаем людей младше 18 лет, за редкими исключениями (когда игрок явно показывает в беседе, что владеет русским языком на хорошем уровне, адекватен и не лишен фантазии)
          h3 Время работы сервера
          p Сервер работает в режиме 24/7 Если вдруг что-то не работает и в скайпочате или на сайте нет об этом уведомления - значит это плохо. Скажите нам об этом скорее, чтобы мы могли починить.
          h3 Версия сервера
          p Сейчас установлена версия #{version}. Мы стараемся всегда обновлять сервер до последней существующей на данный момент версии. Если это возможно, конечно.
          h3 Адрес входа на сервер
          p kodji.ru:25555
          p.alert.alert-warning
            | Если по каким-то причинам доменное имя не работает (такое редко, но бывает, при переезде машины хоста),
            | попробуйте заходить по IP 185.127.24.116:25555.
            | Маловероятно, что вы сможете это прочитать в случае возникновения проблем с сайтом,
            | но на всякий случай сохраните этот адрес себе.
          h3#donate Поддержать проект
          p
            | По просьбе участников проекта, мы добавили форму для пожертвований. Если хотите – переведите денег, чтобы поддержать проект, будем благодарны.
          iframe(frameborder='0', allowtransparency='true', scrolling='no', src='https://money.yandex.ru/embed/donate.xml?account=41001147141016&quickpay=donate&payment-type-choice=on&mobile-payment-type-choice=on&default-sum=500&targets=%D0%A0%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%B0+Shambala&target-visibility=on&project-name=Shambala+Minecraft&project-site=http%3A%2F%2Fkodji.ru&button-text=05&comment=on&hint=%D0%92%D0%B0%D1%88+%D0%BD%D0%B8%D0%BA+%D0%B2+%D0%B8%D0%B3%D1%80%D0%B5+(%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D0%BC+%D0%B2+%D1%81%D0%BF%D0%B8%D1%81%D0%BE%D0%BA+%D1%83%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2)+%D0%B8+%D0%BA%D0%BE%D0%BC%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%80%D0%B8%D0%B9+%D0%B5%D1%81%D0%BB%D0%B8+%D0%B6%D0%B5%D0%BB%D0%B0%D0%B5%D1%82%D0%B5.&successURL=http%3A%2F%2Fkodji.ru%2F%23thanks', width='511', height='189')
          h4 Список пожертвований
          ul
            li
              span.badge 30.12.2016
              br
              strong Artem_69
              |  1000 
              br
              strong Podnebesnaya
              |  490 
            li
              span.badge 25.11.2016
              br
              strong Artem_69
              |  500 рублей
            li
              span.badge 05.10.2016
              br
              strong Анонимный игрок
              |  490 рублей
              br
              strong SiD
              |  490 рублей
            li
              span.badge 04.10.2016
              br
              strong Анонимный игрок
              |  980 рублей
            li
              span.badge 26.09.2016
              br
              strong Artem_69
              |  500 рублей
            li
              span.badge 05.08.2016
              br
              strong Podnebesnaya
              |  490 рублей
              br
              strong SiD
              |  490 рублей
              br
              strong Artem_69
              |  497.51 рублей
              br
              strong Анонимный игрок
              |  980 рублей
          h3 Дисклеймер
          p Мы cтараемся, чтобы вы чувствовали себя комфортно, чтобы сервер не глючил, не показываем вам рекламу. За это мы просим у вас только одного - не будьте мудаками, помогайте друг-другу, творите и делайте добро. Также просим вас помнить, что это частный сервер, правила на нем устанавливаются частным лицом. Никаких гарантий работоспособности мы не даем, никакой персональной информации не собираем и не храним. Спасибо за понимание и приятной игры!
      include ../templates/footer.jade
    include ../templates/scripts.jade
