doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/commands.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/commands.html')
        .col-sm-9
          h2 Команды и плагины
          p Основное правило, которым мы руководствуемся при установке плагинов - плагин не должен требовать модификации клиента и не должен делать игру слишком легкой.
          h3 Список основных плагинов (за исключением технических)
          ul
            li iConomy (для того, чтобы работали магазины)
            li ChestShop2 (создает и обслуживает магазины)
            li Lockette (приват сундуков табличками)
            li AuthMe (защита персонажа от воровства)
            li GraveStone (создает могилки при смерти игрока, создание сундука с лутом отключено)
            li CraftBook (лифты, мосты, ворота и еще несколько мелких приятных вещей)
            li SkinRestorer (позволяет использовать скины пиратам)
          h3 Список основных команд
          dl
            dt /sethome
            dd Определяет место вашего дома, куда будет телепортировать ком анда /home
            dt /home 
            dd телепортирует вас домой
            dt /spawn
            dd телепортирует вас на спавн
            dt /money
            dd ваш баланс игровой валюты
            dt /money pay [Ник] [сумма]
            dd передать деньги игроку
            dt /balancetop
            dd топ богачей сервера
            dt /mail send [Ник] [сообщение]
            dd отправить сообщение игроку на почту. Оно придет даже если его нет в игре.
            dt /mail read
            dd прочитать свою почту
            dt /mail clear
            dd очистить почту
            dt /iteminfo
            dd показывает ID предмета у вас в руках
            dt /t [Ник]
            dd отправить сообщение в приват игроку.
            dt /r
            dd ответить на сообщение отправленное вам в привате.
            dt /hat
            dd надевает предмет, который вы держите в руке вам на голову
            dt /skin set skinname
            dd устанавливает игроку скин skinname - skinname должно быть лицензионным зарегистрированным именем пользователя mojang. Пираты не могут установить любой скин, какой им хочется. Страдайте или купите лицензию.
          h3 Штуки которые можно сделать табличками
          p Полное руководство по созданию доступно в гугле по словам CraftBook Lift Bridge Gate. Кратко - вам надо поставить табличку и на второй строке в квадратных скобках с большой буквы написать ключевое слово, создающее механизм
            ul 
              li Для создания лифта - <code>Lift Up</code> <code>Lift Down</code>
              li Для создания моста - <code>Bridge</code>
              li Для создания ворот - <code>Gate</code>
          h3 Приват сундуков
          p Осуществляется очень просто - ставите табличку на сундук и все. Сундук запривачен, открыть и разрушить его можете только вы.
          p.alert.alert-warning Мы будем дополнять этот раздел по мере появления новых команд и механизмов, а также наличия времени на их документирование.
      include ../templates/footer.jade
    include ../templates/scripts.jade
