doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/contacts.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/contacts.html')
        .col-sm-9
          h2 Контакты для тех, у кого нет Вконтакте
          p Если вы по тем или иным причинам не можете пользоваться вконтакте, а играть на сервере хочется, то:
          ol
            li Напишите <a href="mailto:k@odj.in">письмо администратору</a>, расскажите в нем о себе (Имя, возраст, другие важные по вашему мнению факты, которые стоит сообщить). Приложите к письму скриншоты или видео ваших построек. Постарайтесь писать грамотно и не забыть про скриншоты. Не забудьте про скриншоты. Про скриншоты не забудьте.
            li Если почты у вас нет - тогда можете покричать с веб-карты игрокам на сервере. Может быть кто-то напишет заявку за вас или встретите оператора и он вас добавит.
      include ../templates/footer.jade
    include ../templates/scripts.jade