doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/index.html')
    .container-fluid(role="main")
      .row
        .col-sm-2
          +sidemenu('/index.html')
        .col-sm-10(style="height:100%;")
          h3 Последние новости
          p
            span.badge 07.02.2021
            =' '
            span Обновились на 1.16.5. Все работает вроде как стабильно. С обновлением генератора нижнего мира решили не мудрить - что сломается починим, а если кому потребуются новые биомы - расширим границу нижнего мира.
          p
            span.badge 18.12.2020
            =' '
            span Переехали на новый сервер, так как предыдущий дата-центр стал слишком часто показывать просадку скорости и пинга, а также зачастил с внезапными немотивированными выпаданиями сетевой доступности. Новый адрес сервера <b>77.223.104.123:25555</b>. Теперь все станет еще лучше чем было! Приятной игры!
          p
            span.badge 13.04.2020
            =' '
            span Обновились на 1.15.2. Полет продолжается! По идее должен починиться крафтбук, но возможно и нет) Продолжаем наблюдения, приятной игры! (Обалдеть, серверу уже что-то около восьми лет, это абсолютный рекод среди всех серверов майна без вайпа!)
          p
            span.badge 27.01.2019
            =' '
            span Сервер обновлен на 1.13.2. Некоторые вещи могут работать неправильно, это нормально и возникает из-за смены ID блоков майнкрафта. Читайте маны, спрашивайте у операторов, чините) Глобальный ивент на починку техники объявляется открытым!
          p
            span.badge 31.08.2018
            =' '
            span Сервер переехал на новое железо, новый адрес 185.186.141.119:25555. Будьте внимательны!
          p
            span.badge 23.06.2018
            =' '
            span Так как с 20 июля гуглохром будет ругать все сайты у которых нет валидного ssl сертификата - натянули крутой сертификат и заодно приделали сайту cdn. Но из-за этого теперь надо в клиенте всегда писать прямой IP сервера вместо доменного имени - <b>185.127.24.116:25555</b>. А, ну и аватарки починили - используйте команду <b>/skin set ИмяИгрока</b> Команда может сработать не сразу - там чот прокси в плагине перегружен, но упорное повторение команды обязательно даст вам ожидаемый результат. А, ну и карту сервера вынесли на отдельную страницу, там слева в меню отдельный пункт поглядите.
          p
            span.badge 01.10.2017
            =' '
            span Сервер обновлен на 1.12.2 Введен вайтлист. Если у вас возникли проблемы - обратитесь в чатик телеграма.
          p
            span.badge 03.09.2017
            =' '
            span Сервер обновлен на 1.12.1.
          p
            span.badge 16.06.2017
            =' '
            span Попытались обновиться на 1.12, но не все плагины еще нормально работают, откатились.
          p
            span.badge 14.12.2016
            =' '
            span Сервер обновлен до версии 1.11.0
          p
            span.badge 04.08.2016
            =' '
            span По просьбам игроков добавлена возможность внести пожертвование. Шлите ваши деньги через форму на
            =' '
            a(href='http://kodji.ru/about.html#donate') этой странице
          p
            span.badge 24.06.2016
            =' '
            span Сервер обновлен до версии 1.10.2
          p
            span.badge 04.01.2016
            | &nbsp;
            span
              | Сервер переехал на новую площадку в Москве.
              | Пинг существенно улучшен, стало больше памяти и в связи с этим увеличился радиус прорисовки.
              | Так же изменился IP для входа (если кто-то им пользовался вместо доменного имени)
              | Новый адрес:
              | &nbsp;
              strong 185.127.24.116:25555
              | . Рекомендуем входить по доменному имени
              | &nbsp;
              strong kodji.ru:2555
              | , а IP использовать только тогда, когда доменное имя по каким-то причинам не работает.
              | C Новым годом и приятной игры!
          p
            span.badge 07.09.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.8. Клиенты версии 1.8.1-1.8.7 также совместимы.
          p
            span.badge 03.06.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.6. Клиенты версии 1.8.1-1.8.4 также совместимы.
          p
            span.badge 29.05.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.4. Клиенты версии 1.8.1-1.8.3 также совместимы.
          p
            span.badge 27.03.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.3. Клиент версии 1.8.1 также совместим. Все проблемы с админшопом и плагинами вроде как устранили. Немного улучшен сайт - карта на главной странице теперь занимает больше места.
          p
            span.badge 22.12.2014
            | &nbsp;
            span Сервер обновлен до версии 1.8.1. Клиент версии 1.8 также совместим. На текущий момент есть некоторые проблемы с некоторыми плагинами, несущественными для игрового процесса. Пожалуйста, сообщайте о найденных ошибках, мы будем благодарны.
          p
            span.badge 27.06.2014
            | &nbsp;
            span Сервер обновлен до версии 1.7.10. Клиент версии 1.7.9 также совместим.
          p
            span.badge 22.06.2014
            | &nbsp;
            span Пришло время немного расширить, улучшить и углубить сайт проекта. Встречайте отдельные разделы для описания плагинов, часто задаваемых вопросов и прочих полезных в игре мелочей.
          p
            span.badge 09.06.2014
            | &nbsp;
            span Обновлены плагины до последних версий.
          p
            span.badge 25.05.2014
            | &nbsp;
            | Мы решили <a href="https://vk.com/topic-56170768_30202643">ввести в игру экономику</a> и установили плагин ChestShop. Рынок, админшоп и все такое.
          P
            span.badge 10.10.2010
            | &nbsp;
            | На момент запуска сервера у нас не было сайта. Новости конечно были, но мы их не помним, да и смысл набивать тухляк. Так что эта новость формально знаменует начало. Примерно.          
      include ../templates/footer.jade
    include ../templates/scripts.jade
    include ../templates/resize_map.jade
