doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/news.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/news.html')
        .col-sm-9
          h3 Последние новости
          p
            span.badge.success 29.05.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.4. Клиенты версии 1.8.1-1.8.3 также совместимы.
          p
            span.badge.success 27.03.2015
            | &nbsp;
            span Сервер обновлен до версии 1.8.3. Клиент версии 1.8.1 также совместим. Все проблемы с админшопом и плагинами вроде как устранили. Немного улучшен сайт - карта на главной странице теперь занимает больше места.
          p
            span.badge.success 22.12.2014
            | &nbsp;
            span Сервер обновлен до версии 1.8.1. Клиент версии 1.8 также совместим. На текущий момент есть некоторые проблемы с некоторыми плагинами, несущественными для игрового процесса. Пожалуйста, сообщайте о найденных ошибках, мы будем благодарны.
          p
            span.badge.success 27.06.2014
            | &nbsp;
            span Сервер обновлен до версии 1.7.10. Клиент версии 1.7.9 также совместим.
          p 
            span.badge.success 22.06.2014
            | &nbsp;
            span Пришло время немного расширить, улучшить и углубить сайт проекта. Встречайте отдельные разделы для описания плагинов, часто задаваемых вопросов и прочих полезных в игре мелочей.
          p 
            span.badge.success 09.06.2014
            | &nbsp;
            span Обновлены плагины до последних версий. 
          p 
            span.badge.success 25.05.2014
            | &nbsp;
            | Мы решили 
            a(href="https://vk.com/topic-56170768_30202643") ввести в игру экономику
            | и установили плагин ChestShop. Рынок, админшоп и все такое.
          P 
            span.badge.success 10.10.2010
            | &nbsp;
            | На момент запуска сервера у нас не было сайта. Новости конечно были, но мы их не помним, да и смысл набивать тухляк. Так что эта новость формально знаменует начало. Примерно.
      include ../templates/footer.jade
    include ../templates/scripts.jade
