doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/rules.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/rules.html')
        .col-sm-9
          h1
            | Правила сервера Minecraft Shambala
          p
            span.badge В редакции 1.9. от 14.12.2016 года
          h2 РАЗДЕЛЫ:
          ol
            li
              a(href="#terms") Термины и определения
            li 
              a(href="#common") Общие правила игры и поведения на сервере
            li
              a(href="#requirements") Технические требования
            li 
              a(href="#ops") Права и обязанности операторов игры
            li
              a(href="#custom") Особые игровые статусы и допустимые исключения
            li
              a(href="#policy") Нарушение правил и ответственность

          h2#terms 1. Термины и определения
          p 1.1. Администратор сервера (kodji_) – технический владелец сервера. Назначает и освобождает от должности операторов игры, вносит изменения в правила игры, как по своему усмотрению, так и по предложениям операторов и игроков, занимается реализацией вновь принятых правил игры или условий, предложенных операторами и игроками, при наличии технической возможности такой реализации; обеспечивает стабильную работу сервера, плюшки и чай с вареньем.
          p 1.2. Операторы игры (операторы) – игроки с особым статусом, назначаемые администратором сервера, и которым делегируются функции поддержания порядка на сервере и помощи игрокам, пока администратор лежит на диване, пьет пиво, спасает детей из пожаров и переводит бабушек через дорогу
          p 1.3. Игроки – аккаунты пользователей, добавленные в whitelist, и допущенные к строительству на сервере; Игроки, пришедшие с закрытого бложика друзей, имеют право использовать лепросимволику, получить нахаляву флаг собственного дизайна и звонить геннадию
          p 1.4. Гости – аккаунты пользователей, не добавленные в whitelist. Могут перемещаться по серверу, имеют возможность летать, путем ввода команды «/fly». Не могут строить, добывать ресурсы.

          h2#common 2. Общие правила игры и поведения на сервере
          ol 
            li Не быть мудаком
            li См. п. 1
            li Не быть мудаком и прочитать правила сервера во избежание недопонимания
            li Быть старше 18 лет. По решению администратора сервера доступ к серверу может быть предоставлен лицам моложе 18 лет (или владельцам машины времени и эликсира молодости)
            li Уважать друг друга, смешно шутить, не строить пьяными гигантские фаллосы
            li Уважать правила сервера и решения администратора сервера и операторов игры

          h2#requirements 3. Технические требования
          h3 3.1. Запрещается:
          ol
            li уничтожать, повреждать, воровать, достраивать, «улучшать», переносить, додумывать и доделывать чужое имущество, кроме случаев, когда на указанные действия получено согласие и одобрение собственника имущества
            li убивать других игроков (режим PVP только по обоюдному согласию)
            li устанавливать моды, плагины, дополнения, текстуры, дающие преимущество в игре
            li использовать баги, эксплойты, дыры и любые другие найденные в процессе игры средства достижения целей, не предусмотренные игрой. если какой-либо известный вам эксплойт работает на нашем сервере, просим сообщить об этом оператору или администратору
            li использовать неустранимые недостатки игры, которые могут привести к падению сервера
            li обходить наложенное на игрока наказание в виде "бана", путем создания новых аккаунтов игрока. за нарушение указанного правила, срок "бана" увеличивается вдвое. При попытке обхода перманентного "бана" аккаунта, дополнительные аккаунты так же будут заблокированы. Без суда и следствия

          h3 3.2. Строго рекомендуется:
          ol
            li Не начинать строительство рядом с постройками других игроков, не убедившись в том, что они не возражают
            li злоупотреблять булыжником, землей, строительством «кишок в воздухе», коробок из булыжника и прочих неприглядных конструкций
            li При использовании общественных и чужих ферм и механизмов оставлять их после использования в первоначальном состоянии

          h3 3.3. При строительстве ферм, механизмов и прочих заводов рекомендуется:
          ol
            li иметь не больше 100 воронок на игрока
            li иметь не больше 100 животных на игрока
            li иметь не больше 30 поршней с одновременной сработкой на игрока
            li Автофермы и большое количество скота создавать так, чтобы они были активны только при личном присутствии на сервере. Автоферма должна отключаться вручную, либо из-за отсутствия горизонта событий. Другие игроки не должны своим присутствием ее активировать, если они не у вас в гостях. В случае чрезмерной нагрузки на сервер, администратор сервера и операторы,могут без предупреждения удалить постройку.

          h2#ops 4. Права и обязанности операторов игры
          ol
            li Операторы обязаны участвовать в работе сервера и усиленно думать головой о способах улучшения игры
            li Операторы в любой ситуации могут действовать на свое усмотрение с учетом правил. Операторы игры вправе помогать игрокам, в игре, в чатах и группе «вконтакте», если просьбы игроков не нарушают правила сервера или внутренних убеждений операторов
            li Операторам запрещается выдавать ресурсы игрокам, не имеющим режим креатива
            li Операторам запрещается удалять чужие постройки, за исключением построек, нарушающих правила
            li Оператор может оказывать помощь игрокам, связанную с перемещением по серверу и строительством (worldedit) по своему личному усмотрению
            li Операторы, не появляющиеся в игре более месяца, могут быть временно лишены статуса оператора. В случае, если в один момент времени нет ни одного активного оператора, администратор может выбрать до двух новых операторов из числа игроков по своему единоличному усмотрению
            li Кандидат в операторы, перед назначением, должен быть утвержден действующими операторами сервера простым большинством голосов, за исключением случаев, предусмотренных п. 6 раздела 4 правил
            li Внесение изменений в правила игры на сервере принимаются общим собранием операторов игры, простым большинством голосов. В особых случаях, по решению администратора, вопрос об изменении правил игры может быть вынесен на общесерверное голосование. Администратору делегируется право «вето» на решения общего собрания операторов. Администратор не может отклонить предложение, за которое проголосовало большинство игроков сервера на общем голосовании, за исключением невозможности технической реализации принятого решения.

          h2#custom 5. Особые игровые статусы и допустимые исключения
          ol
            li Любому игроку может быть присвоен статус оператора и воплощения будды на земле. Никто не может быть ограничен в своем праве в зависимости от цвета кожи, пола, расы, вероисповедания, политических убеждений и иных форм цветовой дифференциации штанов
            li Игроку по решению оператора игры может быть предоставлен режим fly (полет) и (или) creative (креатив)

          h3 5.1 Требования к предоставлению режима креатива:
          ol
            li Предоставить на рассмотрение проект строительства, требующий режим креатива
            li Зарекомендовать себя ранее, как хорошего строителя на сервере

          p Окончательное решение о выдаче режима креатива принимается администратором с учетом мнения операторов

          h3 5.2 Требования к предоставлению режима полета
          ol
            li Кратковременно полет предоставляется по решению оператора, по своему усмотрению, по просьбе игрока, для решения строительных задач или проведения эвентов
            li В перспективе, режим полета может быть приобретен за внутриигровую валюту
          p Решение о предоставлении режима полета принимается оператором единолично
          h3 5.3 Игрокам, которым предоставлен режим креатива или полета строго запрещается:
          ol
            li Помогать другим игрокам любыми способами, включая передачу ресурсов
            li Злоупотреблять строительством из редких материалов (алмазные блоки, маяки и т.д.)
            li Продавать ресурсы, взятые из режима креатива в админшопе
            li Использовать фермы, заводы, поля и огороды, созданные в режиме креатива, для торговли с другими игроками или продажи ресурсов в админшоп
            li Использовать полет для убийства дракона или иссушителя
            li Использовать указанные режимы иными способами, создающими неудобства для других игроков

          h2#policy 6. Нарушение правил и ответственность
          p Игроку, нарушившему данные правила, присваивается особый статус: «бан». Игрок в этом статусе может лишаться своего имущества, построек, статуса игрока и не может подключаться к серверу. Продолжительность «бана» определяется администратором с учетом мнений операторов.

          p Данные правила могут быть дополнены и изменены совместным решением администратора и операторов, без предварительного уведомления.
      include ../templates/footer.jade
    include ../templates/scripts.jade