doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/start.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/start.html')
        .col-sm-9
          h2 Как начать играть на этом сервере?
          p Прежде всего, подайте заявку на строительство на сервере. Это можно сделать в группе Вконтакте или написав письмо администратору. Помните, грамотная русская речь и приложенные скриншоты ваших построек увеличивают вес вашей заявки. Если вас приняли и дали права строить, тогда:
          ol 
            li Убедитесь в том, что у вас правильный клиент для игры. Подойдет как ванильный клиент (покупается на <a href="http://minecraft.net">официальном сайте</a>), так и любой немодифицированный (без дополнительных модов и плагинов) пиратский. 
            li Запускаете клиента, пишете свой ник, вводите в качестве адреса сервера 77.223.104.123:25555
            li Заходите на сервер. Робот вам предлагает зарегистрировать свой ник с паролем (сделано для того, чтобы ваш ник не стырил кто-то другой, мы ж пускаем и пиратские клиенты тоже). Регистрируете ник <code>/register {пароль} {пароль}</code> При последующих входах используйте команду <code>/login {пароль}</code> чтобы войти. Постарайтесь использовать пароль не меньше 6 символов длины и такой, чтобы его было не слишком легко подобрать. Если вашего персонажа сопрут, администрация за это не несет никакой ответственности.
            li После регистрации вы появитесь на спавне. Эта зона имеет размер примерно 250 блоков от центра (если мне память не изменяет) и закрыта для строительства, езжайте на метро, используйте телепорты или пешком выйдите за ее пределы и начинайте копать и строить. 
            li Собственно, вроде все. Ответы на остальные вопросы вы найдете в других разделах этого сайта. Также можете адресовать их операторам сервера или другим игрокам в чате, вам обязательно помогут.
      include ../templates/footer.jade
    include ../templates/scripts.jade
