doctype html
html(lang="ru")
  include ../templates/head.jade
  body(role="document")
    include ../templates/menu.jade
    +menu('/wtf.html')
    .container-fluid(role="main")
      .row
        .col-sm-3
          +sidemenu('/wtf.html')
        .col-sm-9
          h2 Советы, рекомендации и немного правил.
          p Пожалуйста прочитайте информацию на этой странице особенно внимательно и постарайтесь её использовать
          h3 Если у вас что-то не получается
          ol
            li Почитайте разделы про установленные плагины и документацию к ним
            li Задайте вопрос в игровом чате или в чате скайпа (если вас в нем нет - попросите любого игрока добавить) 
            li Задайте вопрос любому оператору (ник в игре красным цветом) или администратору
          h3 Вопросы-ответы и немного правил поведения
          dl
            dt Есть ли ограничение на постройку автоферм и разведение большого количества живности?
            dd
             p Да, есть. Постарайтесь выполнять два простых правила.
             ol
               li Автофермы и большое количество скота разрешено создавать так, чтобы они были активны только при вашем личном присутствии на сервере. Вышел с сервера - автоферма отключилась, либо вручную, либо из-за отсутствия горизонта событий. Другие игроки не должны своим присутствием ее активировать, если они не у вас в гостях.
               li Автоферма не должна генерить чрезмерную нагрузку на сервер и вызывать проседание тпс 
             p Так как проседание производительности сервера ударяет по всем игрокам - мы заранее предупреждаем об этом и можем применить наказание в случае нарушения - первый раз - штраф, второй бан неделя, третий бан навсегда
            dt Что с командами /home и /spawn?
            dd После перехода на 1.8 эти команды не работают по техническим причинам. Для того, чтобы быстро перемещаться по миру, пользуйтесь метро или попросите ближайшего администратора поставить стационарный телепорт от вашего дома к спавну.
          p.alert.alert-warning Мы будем пополнять эту страницу часто задаваемыми вопросами и ответами на них, как только они будут появляться. А также размещать тут информацию об общепринятых правилах поведения.
      include ../templates/footer.jade
    include ../templates/scripts.jade
