.row
  .col-sm-2
    include ../templates/counters.jade
  .col-sm-10
    p.pull-right
      img(src="/img/logo16.png",width="16",height="16") 
      | &nbsp;Copyright <a href="http://kodji.name">kodji</a> 2010-2018
