head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible",content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="сервер Minecraft версии 1.7.10 для игроков старше 18 лет. Нет вайпов, нет гриферов, концепция игры - ванильное выживание без модов. Креативщики строят в сторонке и к выживальщикам не лезут.")
  meta(name="author",content="kodji")
  link(rel="shortcut icon",href="favicon.ico")
  title Shambala - русскоязычный сервер Minecraft 1.7.10 для взрослых игроков
  link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
  link(href="/css/style.css",rel="stylesheet")
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
